@model IEnumerable<ClotheShop_MVC.Models.ProductTypes>


@{
    ViewData["Title"] = "Odzież męska";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Odzież damska</h2></center>

<table class="table">
@foreach (ClotheShop_MVC.Models.ProductTypes producttypes in Model)
{

    if (producttypes.Name == "TShirt")
    {
        <tr style="text-align:center;display:inline-block;font-size:large">
            <td>
                @Html.ActionLink(producttypes.Name, "Tshirt", "Woman")
                <img src="@Url.Content("~/Images/"+producttypes.Image2)" class="img-responsive" />
            </td>
        </tr>
    }
    else
    {
        if (producttypes.Name == "Bielizna")
        {
            <tr style="text-align:center;display:inline-block;font-size:large">
                <td>
                    @Html.ActionLink(producttypes.Name, "Underwear", "Woman")
                    <img src="@Url.Content("~/Images/"+producttypes.Image2)" class="img-responsive" />
                </td>
            </tr>
        }
        else
        {
            if (producttypes.Name == "Koszule")
            {
                <tr style="text-align:center;display:inline-block;font-size:large">
                    <td>
                        @Html.ActionLink(producttypes.Name, "Shirt", "Woman")
                        <img src="@Url.Content("~/Images/"+producttypes.Image2)" class="img-responsive" />
                    </td>
                </tr>
            }
            else
            {
                if (producttypes.Name == "Kurtki")
                {

                    <tr style="text-align:center;display:inline-block;font-size:large">
                        <td>
                            @Html.ActionLink(producttypes.Name, "Jacket", "Woman")
                            <img src="@Url.Content("~/Images/"+producttypes.Image2)" class="img-responsive" />
                        </td>
                    </tr>
                }
                else
                {

                    <tr style="text-align:center;display:inline-block;font-size:large">
                        <td>
                            @Html.ActionLink(producttypes.Name, "Shoes", "Woman")
                            <img src="@Url.Content("~/Images/"+producttypes.Image2)" class="img-responsive" />
                        </td>
                    </tr>
                }
            }
        }
    }

}

</table>